<p id="notice"><%= notice %></p>

<h1>Jobs Categories</h1>

<table>
  <thead>
    <tr>
      <th>Location</th>
      <th>Job</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs_categories.each do |jobs_category| %>
      <tr>
        <td><%= jobs_category.location_id %></td>
        <td><%= jobs_category.job_id %></td>
        <td><%= link_to 'Show', jobs_category %></td>
        <td><%= link_to 'Edit', edit_jobs_category_path(jobs_category) %></td>
        <td><%= link_to 'Destroy', jobs_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jobs Category', new_jobs_category_path %>
