<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @jobs_category.location_id %>
</p>

<p>
  <strong>Job:</strong>
  <%= @jobs_category.job_id %>
</p>

<%= link_to 'Edit', edit_jobs_category_path(@jobs_category) %> |
<%= link_to 'Back', jobs_categories_path %>
